.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }
}// home
.welcome {
  border-bottom: 2px dashed silver;
  margin-bottom: 15px;
}
@media @mobile {
  .welcome {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-top: 20px;
  }
  .text-content() {
    //fix this
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .img-content {
    display: flex;
    flex-direction: column-reverse;
    margin: 0px;
  }
  .content-section {
    .text-content();
    width: 150%;
    margin-left: 15px;
  }
  .content-pick {
    display: flex;
    flex-direction: column;
  }
  .destination {
    margin-left: 15px;
    h4, p {
      display: flex;
      justify-content: center;
      margin-left: 30px;
      width: 200%;
    }
    .btn {
      display: flex;
      justify-content: center;
      margin-left: 30px;
      height: 40px;
      font-size: 1.4rem;
      width: 200px;
      background-color: @eastern-blue;
      .button {
      text-decoration: none;
      color: @white;
      background: @eastern-blue;
    }
  }
  }
  .footer {
    width: 100%;
  }
}