// Mixins in here
.btn(@width: 60px, @height: 30px, @color: white) {
    display: flex;
    background: @eastern-blue;
    font-size: 2rem;
    justify-content: center;
    width: @width;
    color: @color;
    height: @height;
}